.participant-video-component {
  &--video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &--plate {
    font-size: 2em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    text-align: center;
  }
  &--name {
    display: inline-block;
  }
}

[contenteditable] {
  border: none;
  border-bottom: 2px dotted transparent;
}

[contenteditable]:focus {
  outline: none;
}

[contenteditable]:hover {
  color: #0f6ecd;
}

[contenteditable='false'] {
  cursor: pointer;
}

[contenteditable='true'] {
  white-space: nowrap;
  min-width: 100px;
  /*overflow: hidden;*/
  border-bottom-color: #0f6ecd;
  color: #0f6ecd;
}

[contenteditable] + mat-icon {
  padding: 5px;
  color: #0f6ecd;
}

[contenteditable]:not(:hover) + mat-icon {
  display: none;
}

[contenteditable='true'] + mat-icon {
  display: none;
}
